.typeWritertheme {
	border-right: 3px solid white;
	width: 0ch;
	white-space: nowrap;
	overflow: hidden;
	animation: typewriter 8s infinite alternate;
}

@keyframes typewriter {
	0% {
		width: 0ch;
	}

	50% {
		width: 14ch;
	}
}